-- Logs begin at Thu 2020-08-13 20:58:25 EDT, end at Wed 2020-09-16 21:06:25 EDT. --
Sep 16 21:00:55 centos8.linuxvmimages.com systemd[1]: Starting Docker cleanup...
Sep 16 21:00:55 centos8.linuxvmimages.com docker[19578]: unknown flag: --volume
Sep 16 21:00:55 centos8.linuxvmimages.com docker[19578]: See 'docker system prune --help'.
Sep 16 21:00:55 centos8.linuxvmimages.com systemd[1]: [0;1;39m[0;1;31m[0;1;39mdocker-cleanup.service: Main process exited, code=exited, status=125/n/a[0m
Sep 16 21:00:55 centos8.linuxvmimages.com systemd[1]: [0;1;39m[0;1;31m[0;1;39mdocker-cleanup.service: Failed with result 'exit-code'.[0m
Sep 16 21:00:55 centos8.linuxvmimages.com systemd[1]: [0;1;31m[0;1;39m[0;1;31mFailed to start Docker cleanup.[0m
Sep 16 21:01:55 centos8.linuxvmimages.com systemd[1]: Starting Docker cleanup...
Sep 16 21:01:56 centos8.linuxvmimages.com docker[21318]: unknown flag: --volume
Sep 16 21:01:56 centos8.linuxvmimages.com docker[21318]: See 'docker system prune --help'.
Sep 16 21:01:56 centos8.linuxvmimages.com systemd[1]: [0;1;39m[0;1;31m[0;1;39mdocker-cleanup.service: Main process exited, code=exited, status=125/n/a[0m
Sep 16 21:01:56 centos8.linuxvmimages.com systemd[1]: [0;1;39m[0;1;31m[0;1;39mdocker-cleanup.service: Failed with result 'exit-code'.[0m
Sep 16 21:01:56 centos8.linuxvmimages.com systemd[1]: [0;1;31m[0;1;39m[0;1;31mFailed to start Docker cleanup.[0m
Sep 16 21:02:56 centos8.linuxvmimages.com systemd[1]: Starting Docker cleanup...
Sep 16 21:02:56 centos8.linuxvmimages.com docker[23096]: unknown flag: --volume
Sep 16 21:02:56 centos8.linuxvmimages.com docker[23096]: See 'docker system prune --help'.
Sep 16 21:02:56 centos8.linuxvmimages.com systemd[1]: [0;1;39m[0;1;31m[0;1;39mdocker-cleanup.service: Main process exited, code=exited, status=125/n/a[0m
Sep 16 21:02:56 centos8.linuxvmimages.com systemd[1]: [0;1;39m[0;1;31m[0;1;39mdocker-cleanup.service: Failed with result 'exit-code'.[0m
Sep 16 21:02:56 centos8.linuxvmimages.com systemd[1]: [0;1;31m[0;1;39m[0;1;31mFailed to start Docker cleanup.[0m
Sep 16 21:03:56 centos8.linuxvmimages.com systemd[1]: Starting Docker cleanup...
Sep 16 21:03:56 centos8.linuxvmimages.com docker[24848]: unknown flag: --volume
Sep 16 21:03:56 centos8.linuxvmimages.com docker[24848]: See 'docker system prune --help'.
Sep 16 21:03:56 centos8.linuxvmimages.com systemd[1]: [0;1;39m[0;1;31m[0;1;39mdocker-cleanup.service: Main process exited, code=exited, status=125/n/a[0m
Sep 16 21:03:56 centos8.linuxvmimages.com systemd[1]: [0;1;39m[0;1;31m[0;1;39mdocker-cleanup.service: Failed with result 'exit-code'.[0m
Sep 16 21:03:56 centos8.linuxvmimages.com systemd[1]: [0;1;31m[0;1;39m[0;1;31mFailed to start Docker cleanup.[0m
Sep 16 21:04:56 centos8.linuxvmimages.com systemd[1]: Starting Docker cleanup...
Sep 16 21:04:56 centos8.linuxvmimages.com docker[26629]: unknown flag: --volume
Sep 16 21:04:56 centos8.linuxvmimages.com docker[26629]: See 'docker system prune --help'.
Sep 16 21:04:56 centos8.linuxvmimages.com systemd[1]: [0;1;39m[0;1;31m[0;1;39mdocker-cleanup.service: Main process exited, code=exited, status=125/n/a[0m
Sep 16 21:04:56 centos8.linuxvmimages.com systemd[1]: [0;1;39m[0;1;31m[0;1;39mdocker-cleanup.service: Failed with result 'exit-code'.[0m
Sep 16 21:04:56 centos8.linuxvmimages.com systemd[1]: [0;1;31m[0;1;39m[0;1;31mFailed to start Docker cleanup.[0m
Sep 16 21:05:56 centos8.linuxvmimages.com systemd[1]: Starting Docker cleanup...
Sep 16 21:05:57 centos8.linuxvmimages.com docker[28436]: unknown flag: --volume
Sep 16 21:05:57 centos8.linuxvmimages.com docker[28436]: See 'docker system prune --help'.
Sep 16 21:05:57 centos8.linuxvmimages.com systemd[1]: [0;1;39m[0;1;31m[0;1;39mdocker-cleanup.service: Main process exited, code=exited, status=125/n/a[0m
Sep 16 21:05:57 centos8.linuxvmimages.com systemd[1]: [0;1;39m[0;1;31m[0;1;39mdocker-cleanup.service: Failed with result 'exit-code'.[0m
Sep 16 21:05:57 centos8.linuxvmimages.com systemd[1]: [0;1;31m[0;1;39m[0;1;31mFailed to start Docker cleanup.[0m
